@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Plataforma digital diseñada con el fin de facilitar los calculos y el control del agua y energia debido al fenomeno del niño. </p>
</div>
